<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrtwon.framex">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:name="com.example.startandroid.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".StartedActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.ServiceUpdate"/>
        <activity
            android:name=".ActivityWebView.ActivityWebView"
            android:theme="@style/Style.Video"
            android:configChanges="orientation|screenSize"
            />
        <!--<activity android:name=".ActivityUpdate.ActivityUpdate"/>-->
        <activity android:name=".ActivityUpdate.ActivityUpdateSearch"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ActivityUpdate.ActivityUpdate"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ActivityWelcome.ActivityWelcome"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TestWorker"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>